Project 2 - Web Application (Services No Longer Available)/CSE445_Project5_Assignment8/Connected Services/LouisMendozaNonRESTful/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar106.fulton.asu.edu/Page10/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar106.fulton.asu.edu/Page10/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_TopTenWords_InputMessage">
    <wsdl:part name="parameters" element="tns:TopTenWords" />
  </wsdl:message>
  <wsdl:message name="IService1_TopTenWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:TopTenWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AverageSentenceLength_InputMessage">
    <wsdl:part name="parameters" element="tns:AverageSentenceLength" />
  </wsdl:message>
  <wsdl:message name="IService1_AverageSentenceLength_OutputMessage">
    <wsdl:part name="parameters" element="tns:AverageSentenceLengthResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NumberOfUnimportantWords_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberOfUnimportantWords" />
  </wsdl:message>
  <wsdl:message name="IService1_NumberOfUnimportantWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberOfUnimportantWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:WordFilter" />
  </wsdl:message>
  <wsdl:message name="IService1_WordFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:WordFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NumberOfSentences_InputMessage">
    <wsdl:part name="parameters" element="tns:NumberOfSentences" />
  </wsdl:message>
  <wsdl:message name="IService1_NumberOfSentences_OutputMessage">
    <wsdl:part name="parameters" element="tns:NumberOfSentencesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="TopTenWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TopTenWords" message="tns:IService1_TopTenWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TopTenWordsResponse" message="tns:IService1_TopTenWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AverageSentenceLength">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AverageSentenceLength" message="tns:IService1_AverageSentenceLength_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AverageSentenceLengthResponse" message="tns:IService1_AverageSentenceLength_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumberOfUnimportantWords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NumberOfUnimportantWords" message="tns:IService1_NumberOfUnimportantWords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NumberOfUnimportantWordsResponse" message="tns:IService1_NumberOfUnimportantWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WordFilter" message="tns:IService1_WordFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WordFilterResponse" message="tns:IService1_WordFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NumberOfSentences">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NumberOfSentences" message="tns:IService1_NumberOfSentences_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NumberOfSentencesResponse" message="tns:IService1_NumberOfSentences_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TopTenWords">
      <soap:operation soapAction="http://tempuri.org/IService1/TopTenWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AverageSentenceLength">
      <soap:operation soapAction="http://tempuri.org/IService1/AverageSentenceLength" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberOfUnimportantWords">
      <soap:operation soapAction="http://tempuri.org/IService1/NumberOfUnimportantWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WordFilter">
      <soap:operation soapAction="http://tempuri.org/IService1/WordFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NumberOfSentences">
      <soap:operation soapAction="http://tempuri.org/IService1/NumberOfSentences" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar106.fulton.asu.edu/Page10/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>